/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 750px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #ffffff;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

/* */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.chart-title{
    padding-top:32px;
}

.padding-top-bottom-16px{
    padding-top: 8px;
    padding-bottom:8px;
}

.editor-title-padding{
    padding-top: 8px;
    padding-bottom:4px;
}

.editor-body-padding{
    padding-top: 8px;
    padding-bottom:8px;
}

.editor-tab-content {
    border-left: solid rgb(220, 220, 220) 1px;
    border-right: solid rgb(220, 220, 220) 1px;
    border-bottom: solid rgb(220, 220, 220) 1px;
}

.cursor-pointer {
    cursor: pointer;
}