<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-1 sidenav">
            <!--
            <p><a href="#/home">Home</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#/about">About</a></p>
            -->
        </div>
        <div class="col-sm-10 text-left">
            <!-- --------------------------------- Dashboard starts ----------------------------------------------- -->
            <!-- --------------------------------- Dashboard starts ----------------------------------------------- -->
            <!-- --------------------------------- Dashboard starts ----------------------------------------------- -->
            <div class="container-fluid">
                <div class="col-sm-12 padding-top-bottom-16px">

                </div>
                <div class="col-sm-12">
                    <h3>About</h3>

                </div>

                <div class="col-sm-6">
                    <a ng-click="getContents()">Get Contents</a>
                    <textarea id="areaEn">area En</textarea>
                </div>
                <div class="col-sm-6">
                    <a ng-click="setContents()">Set Contents</a>
                    <textarea id="areaFr">area Fr</textarea>
                </div>
            </div>
            <!-- --------------------------------- Dashboard ends ------------------------------------------------- -->
            <!-- --------------------------------- Dashboard ends ------------------------------------------------- -->
            <!-- --------------------------------- Dashboard ends ------------------------------------------------- -->
        </div>
        <div class="col-sm-1 sidenav">
            <!--
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
            -->
        </div>
    </div>
</div>