<div class="container-fluid">
    <div class="col-sm-12 padding-top-bottom-16px">

    </div>
    <div class="col-sm-10">
        <h3>Create Page</h3>
    </div>
    <div class="col-sm-2 pull-right" style="padding-top:20px;">
        <button type="button" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save Page</button>
    </div>
</div>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#editEnglish" aria-controls="home" role="tab" data-toggle="tab">English</a></li>
        <li role="presentation"><a href="#editFrench" aria-controls="profile" role="tab" data-toggle="tab">French</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content editor-tab-content">
        <div role="tabpanel" class="tab-pane active" id="editEnglish">
            <!-- En editor -->
            <div class="container-fluid">
                <div class="col-sm-12">
                    <label class="col-form-label editor-title-padding">Title (En): </label>
                </div>

                <div class="col-sm-12">
                    <input class="form-control">
                </div>
                <div class="col-sm-12">
                    <div class="editor-body-padding"></div>
                    <!--<textarea ui-tinymce="tinymceOptions" ng-model="tinymceModelCreateEn"></textarea>-->
                    <text-angular ng-model="htmlVariableEn"></text-angular>
                </div>
                <div class="col-sm-12">
                    <br />
                </div>
            </div>
            <!-- En editor ends -->
        </div>
        <div role="tabpanel" class="tab-pane" id="editFrench">
            <!-- Fr editor -->
            <div class="container-fluid">
                <div class="col-sm-12">
                    <label class="col-form-label editor-title-padding">Title (Fr): </label>
                </div>

                <div class="col-sm-12">
                    <input class="form-control">
                </div>
                <div class="col-sm-12">
                    <div class="editor-body-padding"></div>
                    <!--<textarea ui-tinymce="tinymceOptions" ng-model="tinymceModelCreateFr"></textarea>-->
                    <text-angular ng-model="htmlVariableFr"></text-angular>
                </div>

                <div class="col-sm-12">
                    <br />
                </div>
            </div>

            <!-- Fr editor ends -->
        </div>
    </div>

</div>

