<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-1 sidenav">
            <!--
            <p><a href="#/home">Home</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#/about">About</a></p>
            -->
        </div>
        <div class="col-sm-10 text-left">
            <!-- --------------------------------- Dashboard starts ----------------------------------------------- -->
            <!-- --------------------------------- Dashboard starts ----------------------------------------------- -->
            <!-- --------------------------------- Dashboard starts ----------------------------------------------- -->
            <div class="container-fluid">
                <div class="col-sm-12 padding-top-bottom-16px">

                </div>
                <div class="col-sm-12">
                    <h3>Dashboard</h3>
                </div>

                <div class="col-sm-12">
                    <h3 class="chart-title" align="center">Line Chart</h3>
                    <canvas id="line"
                            class="chart chart-line"
                            chart-data="lineChart.data"
                            chart-labels="lineChart.labels"
                            chart-series="lineChart.series"
                            chart-options="lineChart.options"
                            chart-dataset-override="lineChart.datasetOverride"
                            chart-click="lineChart.onClick"
                    >
                    </canvas>
                </div>

                <div class="col-sm-6">
                    <h3 class="chart-title"  align="center">Bar Chart</h3>
                    <canvas id="bar"
                            class="chart chart-bar"
                            chart-data="barChart.data"
                            chart-labels="barChart.labels"
                            chart-series="barChart.series"
                    >
                    </canvas>
                </div>
                <!--
                <div class="col-sm-6">
                    <h3 class="chart-title"  align="center">Doughnut Chart</h3>
                    <canvas id="doughnut"
                            class="chart chart-doughnut"
                            chart-data="doughnutChart.data"
                            chart-labels="doughnutChart.labels"
                            chart-series="doughnutChart.series"
                    >
                    </canvas>
                </div>
                -->

                <div class="col-sm-6">
                    <h3 class="chart-title" align="center">Pie Chart</h3>
                    <canvas id="pie"
                            class="chart chart-pie"
                            chart-data="pieChart.data"
                            chart-labels="pieChart.labels"
                    >
                    </canvas>
                </div>

                <div class="col-sm-12">
                    <h3 class="chart-title" align="center">&nbsp;</h3>

                </div>
            </div>
            <!-- --------------------------------- Dashboard ends ------------------------------------------------- -->
            <!-- --------------------------------- Dashboard ends ------------------------------------------------- -->
            <!-- --------------------------------- Dashboard ends ------------------------------------------------- -->
        </div>
        <div class="col-sm-1 sidenav">
            <!--
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
            -->
        </div>
    </div>
</div>