<img class="img-responsive" src="assets/img/logo_32.png">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Logo</a>-->
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#/home">Home</a></li>-->
                <!--<li><a ui-sref="main.about">About</a></li>-->
                <!--<li><a href="#">Contact</a></li>-->
                <li><a href="#/home"><span translate="menu.home"></span></a></li>
                <li><a href="#/main/page/list">Pages</a></li>
                <li><a href="#/main/pdf">PDF</a></li>
                <li><a href="#/main/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="cursor-pointer" ng-if="lang == 'fr'" ng-click="changeLanguage('en')">
                        <!--<span class="glyphicon glyphicon-log-in"></span>-->
                        English
                    </a>
                    <a class="cursor-pointer" ng-if="lang == 'en'" ng-click="changeLanguage('fr')">
                        <!--<span class="glyphicon glyphicon-log-in"></span>-->
                        Français
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view></div>

<footer class="container-fluid text-center">
    <p>Footer Text: body tpl</p>
</footer>